In [33]:
d = {"Raja":1000,"Ram":10,"Mohan":100,"Roy":1}
print(d)
print(type(d))
print(len(d))
print(d["Ram"])
#get()	Returns the value of the specified key
print(d.get("Roy",0))
print(d.get("Ashu","#"))
print(hash("Don"))
print(hash("55"))

{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'Roy': 1}
<class 'dict'>
4
10
1
#
-1799726092062896907
5396474170669481502

In [68]:
#update
d["Roy"]=10000
print(d)
#clear()	Removes all the elements from the dictionary
#d.clear()
#copy()	Returns a shallow copy of the dictionary
d.copy()

{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'sir': 1000000, 'Roy': 10000}

{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'sir': 1000000, 'Roy': 10000}

In [71]:
#insert
d["Reformer"]=1
print(d)
#update()	Updates the dictionary with the specified key-value pairs
d.update({"Holy":10000000})
print(d)

{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'sir': 1000000, 'Roy': 10000, 'Reformer': 1, 'Sir': 1000000, 'Holy': 10000000}
{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'sir': 1000000, 'Roy': 10000, 'Reformer': 1, 'Sir': 1000000, 'Holy': 10000000}

In [72]:
#Delete
#pop()	Removes the element with the specified key
d.pop("sir")
print(d)
#popitem()	Removes the last inserted key-value pair
d.popitem()
#del d('Raja')
print(d)

{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'Roy': 10000, 'Reformer': 1, 'Sir': 1000000, 'Holy': 10000000}
{'Raja': 1000, 'Ram': 10, 'Mohan': 100, 'Roy': 10000, 'Reformer': 1, 'Sir': 1000000}

In [60]:
#keys()	Returns a list containing the dictionary's keys
print(d.keys())
print(type(d.keys()))
print(list(d.keys()))
#values()	Returns a list of all the values in the dictionary
print(d.values())
print(type(d.values()))
print(list(d.values()))

dict_keys(['Raja', 'Ram', 'Mohan', 'Roy', 'Reformer'])
<class 'dict_keys'>
['Raja', 'Ram', 'Mohan', 'Roy', 'Reformer']
dict_values([1000, 10, 100, 10000, 1])
<class 'dict_values'>
[1000, 10, 100, 10000, 1]

In [66]:
#items()	Returns a dict_item --(iterable) containing a tuple for each key value pair
print(d.items())
print(type(d.items()))

dict_items([('Raja', 1000), ('Ram', 10), ('Mohan', 100)])
<class 'dict_items'>

In [75]:
#setdefault(keyname, value) Returns the value of the specified key, If the key does not exist, insert the key, with the specified value
car = {"brand": "Ford", "model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")
y= car.setdefault("name","james")
print(x)
print(car)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'name': 'james'}

In [81]:
#fromkeys(keys, value)	Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
Y=(0)
thisdict = dict.fromkeys(x,Y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [83]:
#Nested Dictionary
Sal = {
    "HR":{
        101:10,
        102:23
    },
    "Sales":{
        111:100,
        132:10021,
        91:981
        },
    "Tech":{
        152:65,
        71:778,
        45:989        
    }
}

In [84]:
Sal.keys()

dict_keys(['HR', 'Sales', 'Tech'])

In [86]:
Sal['Tech']

{152: 65, 71: 778, 45: 989}

In [88]:
Sal['Tech'][71]
Sal.get('Tech').get(71)

778

In [95]:
for depart in Sal:
    value=list(Sal[depart].values())
    print(value)
    print(depart, sum(value)//len(value))

[10, 23]
HR 16
[100, 10021, 981]
Sales 3700
[65, 778, 989]
Tech 610